In [7]:
import pandas as pd
import numpy as np

In [8]:
df_links=pd.read_csv('C:\\Users\\p860n111\\Desktop\\data science\\Hw 3\\links.csv')

In [9]:
df_movies=pd.read_csv('C:\\Users\\p860n111\\Desktop\\data science\\Hw 3\\movies.csv')

In [10]:
df_ratings=pd.read_csv('C:\\Users\\p860n111\\Desktop\\data science\\Hw 3\\ratings.csv')

In [11]:

df_tags=pd.read_csv('C:\\Users\\p860n111\\Desktop\\data science\\Hw 3\\tags.csv')

In [21]:
df_ratings.groupby(['userId']).count()

        movieId  rating  timestamp
userId
1           232     232        232
2            29      29         29
3            39      39         39
4           216     216        216
5            44      44         44
6           314     314        314
7           152     152        152
8            47      47         47
9            46      46         46
10          140     140        140
11           64      64         64
12           32      32         32
13           31      31         31
14           48      48         48
15          135     135        135
16           98      98         98
17          105     105        105
18          502     502        502
19          703     703        703
20          242     242        242
21          443     443        443
22          119     119        119
23          121     121        121
24          110     110        110
25           26      26         26
26           21      21         21
27          135     135        135
28          570     570        570
29           81      81         81
30           34      34         34
...         ...     ...        ...
581          40      40         40
582          56      56         56
583          56      56         56
584          83      83         83
585          61      61         61
586         208     208        208
587         165     165        165
588          56      56         56
589          40      40         40
590         728     728        728
591          54      54         54
592          94      94         94
593         103     103        103
594         232     232        232
595          20      20         20
596         411     411        411
597         443     443        443
598          21      21         21
599        2478    2478       2478
600         763     763        763
601         101     101        101
602         135     135        135
603         943     943        943
604         100     100        100
605         221     221        221
606        1115    1115       1115
607         187     187        187
608         831     831        831
609          37      37         37
610        1302    1302       1302

[610 rows x 3 columns]

In [23]:
#addtiomnal info1: the userId that has rated the maximum movies
df_ratings.groupby(['userId']).count()['movieId']

userId
1       232
2        29
3        39
4       216
5        44
6       314
7       152
8        47
9        46
10      140
11       64
12       32
13       31
14       48
15      135
16       98
17      105
18      502
19      703
20      242
21      443
22      119
23      121
24      110
25       26
26       21
27      135
28      570
29       81
30       34
       ...
581      40
582      56
583      56
584      83
585      61
586     208
587     165
588      56
589      40
590     728
591      54
592      94
593     103
594     232
595      20
596     411
597     443
598      21
599    2478
600     763
601     101
602     135
603     943
604     100
605     221
606    1115
607     187
608     831
609      37
610    1302
Name: movieId, Length: 610, dtype: int64

In [35]:
df_ratings_max_userid=df_ratings.groupby(['userId']).count()['movieId']

In [36]:
df_ratings_max_userid= df_ratings_max_userid.to_frame()
df_ratings_max_userid

        movieId
userId
1           232
2            29
3            39
4           216
5            44
6           314
7           152
8            47
9            46
10          140
11           64
12           32
13           31
14           48
15          135
16           98
17          105
18          502
19          703
20          242
21          443
22          119
23          121
24          110
25           26
26           21
27          135
28          570
29           81
30           34
...         ...
581          40
582          56
583          56
584          83
585          61
586         208
587         165
588          56
589          40
590         728
591          54
592          94
593         103
594         232
595          20
596         411
597         443
598          21
599        2478
600         763
601         101
602         135
603         943
604         100
605         221
606        1115
607         187
608         831
609          37
610        1302

[610 rows x 1 columns]

In [37]:
df_ratings_max_userid=df_ratings_max_userid.sort_values('movieId',ascending=False)

In [38]:
# userid with 414 gace maximum times(movies rating) i.e. gave 2698 movies rating
df_ratings_max_userid

        movieId
userId
414        2698
599        2478
474        2108
448        1864
274        1346
610        1302
68         1260
380        1218
606        1115
288        1055
249        1046
387        1027
182         977
307         975
603         943
298         939
177         904
318         879
232         862
480         836
608         831
600         763
483         728
590         728
105         722
19          703
305         677
489         648
111         646
438         635
...         ...
494          22
598          21
281          21
245          21
364          21
293          21
547          21
157          21
507          21
37           21
26           21
439          21
49           21
87           21
549          21
324          21
595          20
189          20
207          20
194          20
147          20
257          20
406          20
431          20
278          20
442          20
569          20
320          20
576          20
53           20

[610 rows x 1 columns]

In [41]:
df_ratings_max_userid = df_ratings_max_userid.rename(columns={'movieId': 'Number of movies rated'})

In [42]:
df_ratings_max_userid

        Numberof movies rated
userId
414                      2698
599                      2478
474                      2108
448                      1864
274                      1346
610                      1302
68                       1260
380                      1218
606                      1115
288                      1055
249                      1046
387                      1027
182                       977
307                       975
603                       943
298                       939
177                       904
318                       879
232                       862
480                       836
608                       831
600                       763
483                       728
590                       728
105                       722
19                        703
305                       677
489                       648
111                       646
438                       635
...                       ...
494                        22
598                        21
281                        21
245                        21
364                        21
293                        21
547                        21
157                        21
507                        21
37                         21
26                         21
439                        21
49                         21
87                         21
549                        21
324                        21
595                        20
189                        20
207                        20
194                        20
147                        20
257                        20
406                        20
431                        20
278                        20
442                        20
569                        20
320                        20
576                        20
53                         20

[610 rows x 1 columns]

In [44]:
df_ratings_max_userid.to_csv('AdditionalInfo#1_userID_Max_rated_Movies.csv', sep=',')

In [45]:
df_tags.groupby(['userId']).count()

        movieId   tag  timestamp
userId
2             9     9          9
7             1     1          1
18           16    16         16
21            4     4          4
49            3     3          3
62          370   370        370
63            2     2          2
76            2     2          2
103           5     5          5
106           2     2          2
112           3     3          3
119          14    14         14
125          48    48         48
132           4     4          4
138           2     2          2
161           1     1          1
166           6     6          6
167           1     1          1
177           3     3          3
184          35    35         35
193          20    20         20
205           3     3          3
226           3     3          3
256           2     2          2
274           1     1          1
288           1     1          1
289           4     4          4
291           4     4          4
300           1     1          1
305           8     8          8
318          41    41         41
319           3     3          3
327           7     7          7
336          10    10         10
341           2     2          2
356           5     5          5
357          45    45         45
419           5     5          5
424         273   273        273
435           4     4          4
439           3     3          3
462           5     5          5
474        1507  1507       1507
477         280   280        280
487           3     3          3
506           3     3          3
509           3     3          3
513           3     3          3
520           2     2          2
533           3     3          3
537         100   100        100
543           1     1          1
567         432   432        432
573          31    31         31
599         323   323        323
600           1     1          1
606           7     7          7
610           3     3          3

In [48]:
#addtiomnal info2: the userId that has tagged the maximum movies
df_tags.groupby(['userId']).count()['movieId']

userId
2         9
7         1
18       16
21        4
49        3
62      370
63        2
76        2
103       5
106       2
112       3
119      14
125      48
132       4
138       2
161       1
166       6
167       1
177       3
184      35
193      20
205       3
226       3
256       2
274       1
288       1
289       4
291       4
300       1
305       8
318      41
319       3
327       7
336      10
341       2
356       5
357      45
419       5
424     273
435       4
439       3
462       5
474    1507
477     280
487       3
506       3
509       3
513       3
520       2
533       3
537     100
543       1
567     432
573      31
599     323
600       1
606       7
610       3
Name: movieId, dtype: int64

In [49]:
df_tag_max_userid=df_tags.groupby(['userId']).count()['movieId']
df_tag_max_userid= df_tag_max_userid.to_frame()
df_tag_max_userid

        movieId
userId
2             9
7             1
18           16
21            4
49            3
62          370
63            2
76            2
103           5
106           2
112           3
119          14
125          48
132           4
138           2
161           1
166           6
167           1
177           3
184          35
193          20
205           3
226           3
256           2
274           1
288           1
289           4
291           4
300           1
305           8
318          41
319           3
327           7
336          10
341           2
356           5
357          45
419           5
424         273
435           4
439           3
462           5
474        1507
477         280
487           3
506           3
509           3
513           3
520           2
533           3
537         100
543           1
567         432
573          31
599         323
600           1
606           7
610           3

In [54]:
df_tag_max_userid = df_tag_max_userid.rename(columns={'movieId': 'Number of movies tagged'})
df_tag_max_userid=df_tag_max_userid.sort_values('Number of movies tagged',ascending=False)

In [55]:
df_tag_max_userid

        Number of movies tagged
userId
474                        1507
567                         432
62                          370
599                         323
477                         280
424                         273
537                         100
125                          48
357                          45
318                          41
184                          35
573                          31
193                          20
18                           16
119                          14
336                          10
2                             9
305                           8
606                           7
327                           7
166                           6
419                           5
103                           5
356                           5
462                           5
21                            4
132                           4
289                           4
291                           4
435                           4
439                           3
177                           3
487                           3
506                           3
513                           3
533                           3
49                            3
509                           3
112                           3
610                           3
205                           3
226                           3
319                           3
341                           2
256                           2
63                            2
76                            2
520                           2
106                           2
138                           2
288                           1
274                           1
300                           1
543                           1
7                             1
161                           1
600                           1
167                           1

In [56]:
df_tag_max_userid.to_csv('AdditionalInfo#2_userID_Max_tagged_Movies.csv', sep=',')

In [57]:
df_tag_max_userid

        Number of movies tagged
userId
474                        1507
567                         432
62                          370
599                         323
477                         280
424                         273
537                         100
125                          48
357                          45
318                          41
184                          35
573                          31
193                          20
18                           16
119                          14
336                          10
2                             9
305                           8
606                           7
327                           7
166                           6
419                           5
103                           5
356                           5
462                           5
21                            4
132                           4
289                           4
291                           4
435                           4
439                           3
177                           3
487                           3
506                           3
513                           3
533                           3
49                            3
509                           3
112                           3
610                           3
205                           3
226                           3
319                           3
341                           2
256                           2
63                            2
76                            2
520                           2
106                           2
138                           2
288                           1
274                           1
300                           1
543                           1
7                             1
161                           1
600                           1
167                           1

In [59]:
#additional information 3: to merge the number of movies and tagged created by each user id

df_Merged= pd.merge(df_ratings_max_userid,df_tag_max_userid, on="userId", how="outer")

In [60]:
df_Merged

        Numberof movies rated  Number of movies tagged
userId
414                      2698                      NaN
599                      2478                    323.0
474                      2108                   1507.0
448                      1864                      NaN
274                      1346                      1.0
610                      1302                      3.0
68                       1260                      NaN
380                      1218                      NaN
606                      1115                      7.0
288                      1055                      1.0
249                      1046                      NaN
387                      1027                      NaN
182                       977                      NaN
307                       975                      NaN
603                       943                      NaN
298                       939                      NaN
177                       904                      3.0
318                       879                     41.0
232                       862                      NaN
480                       836                      NaN
608                       831                      NaN
600                       763                      1.0
483                       728                      NaN
590                       728                      NaN
105                       722                      NaN
19                        703                      NaN
305                       677                      8.0
489                       648                      NaN
111                       646                      NaN
438                       635                      NaN
...                       ...                      ...
494                        22                      NaN
598                        21                      NaN
281                        21                      NaN
245                        21                      NaN
364                        21                      NaN
293                        21                      NaN
547                        21                      NaN
157                        21                      NaN
507                        21                      NaN
37                         21                      NaN
26                         21                      NaN
439                        21                      3.0
49                         21                      3.0
87                         21                      NaN
549                        21                      NaN
324                        21                      NaN
595                        20                      NaN
189                        20                      NaN
207                        20                      NaN
194                        20                      NaN
147                        20                      NaN
257                        20                      NaN
406                        20                      NaN
431                        20                      NaN
278                        20                      NaN
442                        20                      NaN
569                        20                      NaN
320                        20                      NaN
576                        20                      NaN
53                         20                      NaN

[610 rows x 2 columns]

In [61]:
df_Merged.to_csv('AdditionalInfo#3_userID_max_tagged_and_max_rated.csv', sep=',')

In [62]:
#Additiomnal info4: to convert into time and then deduce info
df_ratings_timeStamp=pd.to_datetime(df_ratings['timestamp'], unit='s')

In [63]:
df_ratings_timeStamp

0        2000-07-30 18:45:03
1        2000-07-30 18:20:47
2        2000-07-30 18:37:04
3        2000-07-30 19:03:35
4        2000-07-30 18:48:51
5        2000-07-30 18:40:00
6        2000-07-30 18:14:28
7        2000-07-30 18:36:16
8        2000-07-30 19:07:21
9        2000-07-30 19:08:20
10       2000-07-30 19:00:50
11       2000-07-30 18:20:08
12       2000-07-30 18:16:25
13       2000-07-30 18:19:39
14       2000-07-30 18:15:08
15       2000-07-30 18:28:00
16       2000-07-30 18:49:27
17       2000-07-30 18:38:30
18       2000-07-30 18:19:39
19       2000-07-30 18:42:43
20       2000-07-30 18:16:02
21       2000-07-30 18:43:08
22       2000-07-30 18:28:30
23       2000-07-30 18:39:23
24       2000-07-30 18:14:28
25       2000-07-30 18:31:49
26       2000-07-30 18:39:06
27       2000-07-30 18:20:08
28       2000-07-30 19:06:42
29       2000-07-30 18:19:39
                 ...
100806   2016-11-19 08:13:30
100807   2017-05-03 21:10:17
100808   2017-05-03 21:21:43
100809   2017-05-03 22:00:41
100810   2017-05-03 21:54:16
100811   2016-11-19 08:07:11
100812   2017-05-03 21:54:04
100813   2017-05-03 21:22:43
100814   2016-11-19 08:46:59
100815   2016-11-19 08:01:31
100816   2017-05-03 21:47:04
100817   2017-05-03 22:02:27
100818   2017-05-03 21:41:44
100819   2017-05-03 21:47:11
100820   2016-11-19 08:55:49
100821   2016-11-19 08:43:18
100822   2017-05-03 21:55:37
100823   2017-05-03 20:53:14
100824   2017-05-03 21:42:39
100825   2017-05-03 21:52:42
100826   2017-05-03 22:19:31
100827   2017-05-03 21:59:49
100828   2017-05-03 22:22:35
100829   2017-05-03 21:07:11
100830   2017-05-04 06:29:25
100831   2017-05-03 21:53:22
100832   2017-05-03 22:21:31
100833   2017-05-08 19:50:47
100834   2017-05-03 21:19:12
100835   2017-05-03 21:20:15
Name: timestamp, Length: 100836, dtype: datetime64[ns]

In [64]:
# to create a new dataframe with converted time
df_ratings_timeStamp_new= df_ratings.drop('timestamp', axis=1)

df_ratings_timeStamp_merged_new=pd.concat([df_ratings_timeStamp_new,df_ratings_timeStamp], axis=1)

In [65]:
df_ratings_timeStamp_merged_new

        userId  movieId  rating           timestamp
0            1        1     4.0 2000-07-30 18:45:03
1            1        3     4.0 2000-07-30 18:20:47
2            1        6     4.0 2000-07-30 18:37:04
3            1       47     5.0 2000-07-30 19:03:35
4            1       50     5.0 2000-07-30 18:48:51
5            1       70     3.0 2000-07-30 18:40:00
6            1      101     5.0 2000-07-30 18:14:28
7            1      110     4.0 2000-07-30 18:36:16
8            1      151     5.0 2000-07-30 19:07:21
9            1      157     5.0 2000-07-30 19:08:20
10           1      163     5.0 2000-07-30 19:00:50
11           1      216     5.0 2000-07-30 18:20:08
12           1      223     3.0 2000-07-30 18:16:25
13           1      231     5.0 2000-07-30 18:19:39
14           1      235     4.0 2000-07-30 18:15:08
15           1      260     5.0 2000-07-30 18:28:00
16           1      296     3.0 2000-07-30 18:49:27
17           1      316     3.0 2000-07-30 18:38:30
18           1      333     5.0 2000-07-30 18:19:39
19           1      349     4.0 2000-07-30 18:42:43
20           1      356     4.0 2000-07-30 18:16:02
21           1      362     5.0 2000-07-30 18:43:08
22           1      367     4.0 2000-07-30 18:28:30
23           1      423     3.0 2000-07-30 18:39:23
24           1      441     4.0 2000-07-30 18:14:28
25           1      457     5.0 2000-07-30 18:31:49
26           1      480     4.0 2000-07-30 18:39:06
27           1      500     3.0 2000-07-30 18:20:08
28           1      527     5.0 2000-07-30 19:06:42
29           1      543     4.0 2000-07-30 18:19:39
...        ...      ...     ...                 ...
100806     610   150401     3.0 2016-11-19 08:13:30
100807     610   152077     4.0 2017-05-03 21:10:17
100808     610   152081     4.0 2017-05-03 21:21:43
100809     610   152372     3.5 2017-05-03 22:00:41
100810     610   155064     3.5 2017-05-03 21:54:16
100811     610   156371     5.0 2016-11-19 08:07:11
100812     610   156726     4.5 2017-05-03 21:54:04
100813     610   157296     4.0 2017-05-03 21:22:43
100814     610   158238     5.0 2016-11-19 08:46:59
100815     610   158721     3.5 2016-11-19 08:01:31
100816     610   158872     3.5 2017-05-03 21:47:04
100817     610   158956     3.0 2017-05-03 22:02:27
100818     610   159093     3.0 2017-05-03 21:41:44
100819     610   160080     3.0 2017-05-03 21:47:11
100820     610   160341     2.5 2016-11-19 08:55:49
100821     610   160527     4.5 2016-11-19 08:43:18
100822     610   160571     3.0 2017-05-03 21:55:37
100823     610   160836     3.0 2017-05-03 20:53:14
100824     610   161582     4.0 2017-05-03 21:42:39
100825     610   161634     4.0 2017-05-03 21:52:42
100826     610   162350     3.5 2017-05-03 22:19:31
100827     610   163937     3.5 2017-05-03 21:59:49
100828     610   163981     3.5 2017-05-03 22:22:35
100829     610   164179     5.0 2017-05-03 21:07:11
100830     610   166528     4.0 2017-05-04 06:29:25
100831     610   166534     4.0 2017-05-03 21:53:22
100832     610   168248     5.0 2017-05-03 22:21:31
100833     610   168250     5.0 2017-05-08 19:50:47
100834     610   168252     5.0 2017-05-03 21:19:12
100835     610   170875     3.0 2017-05-03 21:20:15

[100836 rows x 4 columns]

In [67]:
#created 3 new column for year month and date
df_ratings_timeStamp_merged_new['year'] = pd.DatetimeIndex(df_ratings_timeStamp_merged_new['timestamp']).year
df_ratings_timeStamp_merged_new['month'] = pd.DatetimeIndex(df_ratings_timeStamp_merged_new['timestamp']).month

In [68]:
df_ratings_timeStamp_merged_new

        userId  movieId  rating           timestamp  year  month
0            1        1     4.0 2000-07-30 18:45:03  2000      7
1            1        3     4.0 2000-07-30 18:20:47  2000      7
2            1        6     4.0 2000-07-30 18:37:04  2000      7
3            1       47     5.0 2000-07-30 19:03:35  2000      7
4            1       50     5.0 2000-07-30 18:48:51  2000      7
5            1       70     3.0 2000-07-30 18:40:00  2000      7
6            1      101     5.0 2000-07-30 18:14:28  2000      7
7            1      110     4.0 2000-07-30 18:36:16  2000      7
8            1      151     5.0 2000-07-30 19:07:21  2000      7
9            1      157     5.0 2000-07-30 19:08:20  2000      7
10           1      163     5.0 2000-07-30 19:00:50  2000      7
11           1      216     5.0 2000-07-30 18:20:08  2000      7
12           1      223     3.0 2000-07-30 18:16:25  2000      7
13           1      231     5.0 2000-07-30 18:19:39  2000      7
14           1      235     4.0 2000-07-30 18:15:08  2000      7
15           1      260     5.0 2000-07-30 18:28:00  2000      7
16           1      296     3.0 2000-07-30 18:49:27  2000      7
17           1      316     3.0 2000-07-30 18:38:30  2000      7
18           1      333     5.0 2000-07-30 18:19:39  2000      7
19           1      349     4.0 2000-07-30 18:42:43  2000      7
20           1      356     4.0 2000-07-30 18:16:02  2000      7
21           1      362     5.0 2000-07-30 18:43:08  2000      7
22           1      367     4.0 2000-07-30 18:28:30  2000      7
23           1      423     3.0 2000-07-30 18:39:23  2000      7
24           1      441     4.0 2000-07-30 18:14:28  2000      7
25           1      457     5.0 2000-07-30 18:31:49  2000      7
26           1      480     4.0 2000-07-30 18:39:06  2000      7
27           1      500     3.0 2000-07-30 18:20:08  2000      7
28           1      527     5.0 2000-07-30 19:06:42  2000      7
29           1      543     4.0 2000-07-30 18:19:39  2000      7
...        ...      ...     ...                 ...   ...    ...
100806     610   150401     3.0 2016-11-19 08:13:30  2016     11
100807     610   152077     4.0 2017-05-03 21:10:17  2017      5
100808     610   152081     4.0 2017-05-03 21:21:43  2017      5
100809     610   152372     3.5 2017-05-03 22:00:41  2017      5
100810     610   155064     3.5 2017-05-03 21:54:16  2017      5
100811     610   156371     5.0 2016-11-19 08:07:11  2016     11
100812     610   156726     4.5 2017-05-03 21:54:04  2017      5
100813     610   157296     4.0 2017-05-03 21:22:43  2017      5
100814     610   158238     5.0 2016-11-19 08:46:59  2016     11
100815     610   158721     3.5 2016-11-19 08:01:31  2016     11
100816     610   158872     3.5 2017-05-03 21:47:04  2017      5
100817     610   158956     3.0 2017-05-03 22:02:27  2017      5
100818     610   159093     3.0 2017-05-03 21:41:44  2017      5
100819     610   160080     3.0 2017-05-03 21:47:11  2017      5
100820     610   160341     2.5 2016-11-19 08:55:49  2016     11
100821     610   160527     4.5 2016-11-19 08:43:18  2016     11
100822     610   160571     3.0 2017-05-03 21:55:37  2017      5
100823     610   160836     3.0 2017-05-03 20:53:14  2017      5
100824     610   161582     4.0 2017-05-03 21:42:39  2017      5
100825     610   161634     4.0 2017-05-03 21:52:42  2017      5
100826     610   162350     3.5 2017-05-03 22:19:31  2017      5
100827     610   163937     3.5 2017-05-03 21:59:49  2017      5
100828     610   163981     3.5 2017-05-03 22:22:35  2017      5
100829     610   164179     5.0 2017-05-03 21:07:11  2017      5
100830     610   166528     4.0 2017-05-04 06:29:25  2017      5
100831     610   166534     4.0 2017-05-03 21:53:22  2017      5
100832     610   168248     5.0 2017-05-03 22:21:31  2017      5
100833     610   168250     5.0 2017-05-08 19:50:47  2017      5
100834     610   168252     5.0 2017-05-03 21:19:12  2017      5
100835     610   170875     3.0 2017-05-03 21:20:15  2017      5

[100836 rows x 6 columns]

In [71]:
df_ratings_timeStamp_merged_new['date'] = pd.DatetimeIndex(df_ratings_timeStamp_merged_new['timestamp']).day

In [72]:
df_ratings_timeStamp_merged_new

        userId  movieId  rating           timestamp  year  month  date
0            1        1     4.0 2000-07-30 18:45:03  2000      7    30
1            1        3     4.0 2000-07-30 18:20:47  2000      7    30
2            1        6     4.0 2000-07-30 18:37:04  2000      7    30
3            1       47     5.0 2000-07-30 19:03:35  2000      7    30
4            1       50     5.0 2000-07-30 18:48:51  2000      7    30
5            1       70     3.0 2000-07-30 18:40:00  2000      7    30
6            1      101     5.0 2000-07-30 18:14:28  2000      7    30
7            1      110     4.0 2000-07-30 18:36:16  2000      7    30
8            1      151     5.0 2000-07-30 19:07:21  2000      7    30
9            1      157     5.0 2000-07-30 19:08:20  2000      7    30
10           1      163     5.0 2000-07-30 19:00:50  2000      7    30
11           1      216     5.0 2000-07-30 18:20:08  2000      7    30
12           1      223     3.0 2000-07-30 18:16:25  2000      7    30
13           1      231     5.0 2000-07-30 18:19:39  2000      7    30
14           1      235     4.0 2000-07-30 18:15:08  2000      7    30
15           1      260     5.0 2000-07-30 18:28:00  2000      7    30
16           1      296     3.0 2000-07-30 18:49:27  2000      7    30
17           1      316     3.0 2000-07-30 18:38:30  2000      7    30
18           1      333     5.0 2000-07-30 18:19:39  2000      7    30
19           1      349     4.0 2000-07-30 18:42:43  2000      7    30
20           1      356     4.0 2000-07-30 18:16:02  2000      7    30
21           1      362     5.0 2000-07-30 18:43:08  2000      7    30
22           1      367     4.0 2000-07-30 18:28:30  2000      7    30
23           1      423     3.0 2000-07-30 18:39:23  2000      7    30
24           1      441     4.0 2000-07-30 18:14:28  2000      7    30
25           1      457     5.0 2000-07-30 18:31:49  2000      7    30
26           1      480     4.0 2000-07-30 18:39:06  2000      7    30
27           1      500     3.0 2000-07-30 18:20:08  2000      7    30
28           1      527     5.0 2000-07-30 19:06:42  2000      7    30
29           1      543     4.0 2000-07-30 18:19:39  2000      7    30
...        ...      ...     ...                 ...   ...    ...   ...
100806     610   150401     3.0 2016-11-19 08:13:30  2016     11    19
100807     610   152077     4.0 2017-05-03 21:10:17  2017      5     3
100808     610   152081     4.0 2017-05-03 21:21:43  2017      5     3
100809     610   152372     3.5 2017-05-03 22:00:41  2017      5     3
100810     610   155064     3.5 2017-05-03 21:54:16  2017      5     3
100811     610   156371     5.0 2016-11-19 08:07:11  2016     11    19
100812     610   156726     4.5 2017-05-03 21:54:04  2017      5     3
100813     610   157296     4.0 2017-05-03 21:22:43  2017      5     3
100814     610   158238     5.0 2016-11-19 08:46:59  2016     11    19
100815     610   158721     3.5 2016-11-19 08:01:31  2016     11    19
100816     610   158872     3.5 2017-05-03 21:47:04  2017      5     3
100817     610   158956     3.0 2017-05-03 22:02:27  2017      5     3
100818     610   159093     3.0 2017-05-03 21:41:44  2017      5     3
100819     610   160080     3.0 2017-05-03 21:47:11  2017      5     3
100820     610   160341     2.5 2016-11-19 08:55:49  2016     11    19
100821     610   160527     4.5 2016-11-19 08:43:18  2016     11    19
100822     610   160571     3.0 2017-05-03 21:55:37  2017      5     3
100823     610   160836     3.0 2017-05-03 20:53:14  2017      5     3
100824     610   161582     4.0 2017-05-03 21:42:39  2017      5     3
100825     610   161634     4.0 2017-05-03 21:52:42  2017      5     3
100826     610   162350     3.5 2017-05-03 22:19:31  2017      5     3
100827     610   163937     3.5 2017-05-03 21:59:49  2017      5     3
100828     610   163981     3.5 2017-05-03 22:22:35  2017      5     3
100829     610   164179     5.0 2017-05-03 21:07:11  2017      5     3
100830     610   166528     4.0 2017-05-04 06:29:25  2017      5     4
100831     610   166534     4.0 2017-05-03 21:53:22  2017      5     3
100832     610   168248     5.0 2017-05-03 22:21:31  2017      5     3
100833     610   168250     5.0 2017-05-08 19:50:47  2017      5     8
100834     610   168252     5.0 2017-05-03 21:19:12  2017      5     3
100835     610   170875     3.0 2017-05-03 21:20:15  2017      5     3

[100836 rows x 7 columns]

In [76]:
#addtiomnal info4: the userId that has rated the maximum movies year wise
df_ratings_timeStamp_merged_newYEAR=df_ratings_timeStamp_merged_new.groupby(['year']).count()['userId']

In [77]:
df_ratings_timeStamp_merged_newYEAR= df_ratings_timeStamp_merged_newYEAR.to_frame()

In [78]:
df_ratings_timeStamp_merged_newYEAR

      userId
year
1996    6040
1997    1916
1998     507
1999    2439
2000   10061
2001    3922
2002    3478
2003    4014
2004    3279
2005    5813
2006    4059
2007    7114
2008    4351
2009    4158
2010    2301
2011    1690
2012    4656
2013    1664
2014    1439
2015    6616
2016    6703
2017    8198
2018    6418

In [79]:
df_ratings_timeStamp_merged_newYEAR = df_ratings_timeStamp_merged_newYEAR.rename(columns={'userId': 'Number of users who rated'})

In [80]:
df_ratings_timeStamp_merged_newYEAR

      Number of users who rated
year
1996                       6040
1997                       1916
1998                        507
1999                       2439
2000                      10061
2001                       3922
2002                       3478
2003                       4014
2004                       3279
2005                       5813
2006                       4059
2007                       7114
2008                       4351
2009                       4158
2010                       2301
2011                       1690
2012                       4656
2013                       1664
2014                       1439
2015                       6616
2016                       6703
2017                       8198
2018                       6418

In [81]:
df_ratings_timeStamp_merged_newYEAR=df_ratings_timeStamp_merged_newYEAR.sort_values('Number of users who rated',ascending=False)

In [82]:
df_ratings_timeStamp_merged_newYEAR

      Number of users who rated
year
2000                      10061
2017                       8198
2007                       7114
2016                       6703
2015                       6616
2018                       6418
1996                       6040
2005                       5813
2012                       4656
2008                       4351
2009                       4158
2006                       4059
2003                       4014
2001                       3922
2002                       3478
2004                       3279
1999                       2439
2010                       2301
1997                       1916
2011                       1690
2013                       1664
2014                       1439
1998                        507

In [83]:

df_ratings_timeStamp_merged_newYEAR.to_csv('AdditionalInfo#4_yearWiseUserRatingCount.csv', sep=',')

In [84]:
#addtiomnal info5: the userId that has rated the maximum movies month wise
df_ratings_timeStamp_merged_newMONTH=df_ratings_timeStamp_merged_new.groupby(['month']).count()['userId']

In [85]:
df_ratings_timeStamp_merged_newMONTH

month
1      8684
2      7635
3      8880
4      7727
5     10883
6      8825
7      6950
8      9074
9      8510
10     7148
11     9676
12     6844
Name: userId, dtype: int64

In [86]:
df_ratings_timeStamp_merged_newMONTH= df_ratings_timeStamp_merged_newMONTH.to_frame()

In [87]:
df_ratings_timeStamp_merged_newMONTH

       userId
month
1        8684
2        7635
3        8880
4        7727
5       10883
6        8825
7        6950
8        9074
9        8510
10       7148
11       9676
12       6844

In [88]:
df_ratings_timeStamp_merged_newMONTH=df_ratings_timeStamp_merged_newMONTH.sort_values('userId',ascending=False)

In [90]:
df_ratings_timeStamp_merged_newMONTH

       userId
month
5       10883
11       9676
8        9074
3        8880
6        8825
1        8684
9        8510
4        7727
2        7635
10       7148
7        6950
12       6844

In [91]:


df_ratings_timeStamp_merged_newMONTH = df_ratings_timeStamp_merged_newMONTH.rename(columns={'userId': 'Number of users rated'})

df_ratings_timeStamp_merged_newMONTH.to_csv('AdditionalInfo#5_userID_Max_rated_MoviesMonthWise.csv', sep=',')

In [97]:
df_Merged_tags_ratings= pd.merge(df_ratings,df_tags, on="movieId", how="inner")

In [98]:
df_Merged_tags_ratings

,userId_x,movieId,rating,timestamp_x,userId_y,tag,timestamp_y
0,1,1,4.0,964982703,336,pixar,1139045764
1,1,1,4.0,964982703,474,pixar,1137206825
2,1,1,4.0,964982703,567,fun,1525286013
3,5,1,4.0,847434962,336,pixar,1139045764
4,5,1,4.0,847434962,474,pixar,1137206825
5,5,1,4.0,847434962,567,fun,1525286013
6,7,1,4.5,1106635946,336,pixar,1139045764
7,7,1,4.5,1106635946,474,pixar,1137206825
8,7,1,4.5,1106635946,567,fun,1525286013
9,15,1,2.5,1510577970,336,pixar,1139045764
10,15,1,2.5,1510577970,474,pixar,1137206825
11,15,1,2.5,1510577970,567,fun,1525286013
12,17,1,4.5,1305696483,336,pixar,1139045764
13,17,1,4.5,1305696483,474,pixar,1137206825
14,17,1,4.5,1305696483,567,fun,1525286013
15,18,1,3.5,1455209816,336,pixar,1139045764
16,18,1,3.5,1455209816,474,pixar,1137206825
17,18,1,3.5,1455209816,567,fun,1525286013
18,19,1,4.0,965705637,336,pixar,1139045764
19,19,1,4.0,965705637,474,pixar,1137206825
20,19,1,4.0,965705637,567,fun,1525286013
21,21,1,3.5,1407618878,336,pixar,1139045764
22,21,1,3.5,1407618878,474,pixar,1137206825
23,21,1,3.5,1407618878,567,fun,1525286013
24,27,1,3.0,962685262,336,pixar,1139045764
25,27,1,3.0,962685262,474,pixar,1137206825
26,27,1,3.0,962685262,567,fun,1525286013
27,31,1,5.0,850466616,336,pixar,1139045764
28,31,1,5.0,850466616,474,pixar,1137206825
29,31,1,5.0,850466616,567,fun,1525286013
...,...,...,...,...,...,...,...
233183,610,104944,4.0,1479542945,567,feel-good,1525285975
233184,610,104944,4.0,1479542945,567,heartwarming,1525285984
233185,610,104944,4.0,1479542945,567,mental illness,1525285990
233186,610,104944,4.0,1479542945,567,touching,1525285973
233187,567,113705,3.5,1525286082,567,bittersweet,1525286093
233188,567,114627,3.5,1525286614,567,atmospheric,1525286623
233189,567,114627,3.5,1525286614,567,bizzare,1525286627
233190,567,114627,3.5,1525286614,567,eerie,1525286621
233191,567,114627,3.5,1525286614,567,symbolism,1525286619
233192,599,114627,3.0,1498526429,567,atmospheric,1525286623
233193,599,114627,3.0,1498526429,567,bizzare,1525286627
233194,599,114627,3.0,1498526429,567,eerie,1525286621
233195,599,114627,3.0,1498526429,567,symbolism,1525286619
233196,567,117877,3.0,1525287604,567,philosophical,1525287615
233197,567,117877,3.0,1525287604,567,trippy,1525287611
233198,567,153070,3.5,1525282879,567,nightmare,1525282902
233199,567,156605,4.5,1525283448,567,quirky,1525283453
233200,567,156605,4.5,1525283448,567,sweet,1525283455
233201,567,156605,4.5,1525283448,567,understated,1525283456
233202,567,170945,3.5,1525286512,567,paranoia,1525286504
233203,567,170945,3.5,1525286512,567,Suspenseful,1525286501
233204,567,176419,3.0,1525287581,567,allegorical,1525287584
233205,567,176419,3.0,1525287581,567,uncomfortable,1525287588
233206,567,176419,3.0,1525287581,567,unsettling,1525287586
233207,599,176419,3.5,1516604655,567,allegorical,1525287584
233208,599,176419,3.5,1516604655,567,uncomfortable,1525287588
233209,599,176419,3.5,1516604655,567,unsettling,1525287586
233210,594,7023,4.5,1108972356,474,In Netflix queue,1137179697
233211,606,6107,4.0,1171324428,606,World War II,1178473747
233212,606,6516,3.5,1171755910,474,In Netflix queue,1137202127

In [96]:
display(df_Merged_tags_ratings)

,userId,movieId_x,rating,timestamp_x,movieId_y,tag,timestamp_y
0,2,318,3.0,1445714835,60756,funny,1445714994
1,2,318,3.0,1445714835,60756,Highly quotable,1445714996
2,2,318,3.0,1445714835,60756,will ferrell,1445714992
3,2,318,3.0,1445714835,89774,Boxing story,1445715207
4,2,318,3.0,1445714835,89774,MMA,1445715200
5,2,318,3.0,1445714835,89774,Tom Hardy,1445715205
6,2,318,3.0,1445714835,106782,drugs,1445715054
7,2,318,3.0,1445714835,106782,Leonardo DiCaprio,1445715051
8,2,318,3.0,1445714835,106782,Martin Scorsese,1445715056
9,2,333,4.0,1445715029,60756,funny,1445714994
10,2,333,4.0,1445715029,60756,Highly quotable,1445714996
11,2,333,4.0,1445715029,60756,will ferrell,1445714992
12,2,333,4.0,1445715029,89774,Boxing story,1445715207
13,2,333,4.0,1445715029,89774,MMA,1445715200
14,2,333,4.0,1445715029,89774,Tom Hardy,1445715205
15,2,333,4.0,1445715029,106782,drugs,1445715054
16,2,333,4.0,1445715029,106782,Leonardo DiCaprio,1445715051
17,2,333,4.0,1445715029,106782,Martin Scorsese,1445715056
18,2,1704,4.5,1445715228,60756,funny,1445714994
19,2,1704,4.5,1445715228,60756,Highly quotable,1445714996
20,2,1704,4.5,1445715228,60756,will ferrell,1445714992
21,2,1704,4.5,1445715228,89774,Boxing story,1445715207
22,2,1704,4.5,1445715228,89774,MMA,1445715200
23,2,1704,4.5,1445715228,89774,Tom Hardy,1445715205
24,2,1704,4.5,1445715228,106782,drugs,1445715054
25,2,1704,4.5,1445715228,106782,Leonardo DiCaprio,1445715051
26,2,1704,4.5,1445715228,106782,Martin Scorsese,1445715056
27,2,3578,4.0,1445714885,60756,funny,1445714994
28,2,3578,4.0,1445714885,60756,Highly quotable,1445714996
29,2,3578,4.0,1445714885,60756,will ferrell,1445714992
...,...,...,...,...,...,...,...
4626836,610,162350,3.5,1493849971,3265,gun fu,1493843984
4626837,610,162350,3.5,1493849971,3265,heroic bloodshed,1493843978
4626838,610,162350,3.5,1493849971,168248,Heroic Bloodshed,1493844270
4626839,610,163937,3.5,1493848789,3265,gun fu,1493843984
4626840,610,163937,3.5,1493848789,3265,heroic bloodshed,1493843978
4626841,610,163937,3.5,1493848789,168248,Heroic Bloodshed,1493844270
4626842,610,163981,3.5,1493850155,3265,gun fu,1493843984
4626843,610,163981,3.5,1493850155,3265,heroic bloodshed,1493843978
4626844,610,163981,3.5,1493850155,168248,Heroic Bloodshed,1493844270
4626845,610,164179,5.0,1493845631,3265,gun fu,1493843984
4626846,610,164179,5.0,1493845631,3265,heroic bloodshed,1493843978
4626847,610,164179,5.0,1493845631,168248,Heroic Bloodshed,1493844270
4626848,610,166528,4.0,1493879365,3265,gun fu,1493843984
4626849,610,166528,4.0,1493879365,3265,heroic bloodshed,1493843978
4626850,610,166528,4.0,1493879365,168248,Heroic Bloodshed,1493844270
4626851,610,166534,4.0,1493848402,3265,gun fu,1493843984
4626852,610,166534,4.0,1493848402,3265,heroic bloodshed,1493843978
4626853,610,166534,4.0,1493848402,168248,Heroic Bloodshed,1493844270
4626854,610,168248,5.0,1493850091,3265,gun fu,1493843984
4626855,610,168248,5.0,1493850091,3265,heroic bloodshed,1493843978
4626856,610,168248,5.0,1493850091,168248,Heroic Bloodshed,1493844270
4626857,610,168250,5.0,1494273047,3265,gun fu,1493843984
4626858,610,168250,5.0,1494273047,3265,heroic bloodshed,1493843978
4626859,610,168250,5.0,1494273047,168248,Heroic Bloodshed,1493844270
4626860,610,168252,5.0,1493846352,3265,gun fu,1493843984
4626861,610,168252,5.0,1493846352,3265,heroic bloodshed,1493843978
4626862,610,168252,5.0,1493846352,168248,Heroic Bloodshed,1493844270
4626863,610,170875,3.0,1493846415,3265,gun fu,1493843984
4626864,610,170875,3.0,1493846415,3265,heroic bloodshed,1493843978
4626865,610,170875,3.0,1493846415,168248,Heroic Bloodshed,1493844270

In [107]:
df_tags.drop('timestamp' ,axis=1,inplace=True)

In [112]:
df_tags

      userId  movieId                     tag
0          2    60756                   funny
1          2    60756         Highly quotable
2          2    60756            will ferrell
3          2    89774            Boxing story
4          2    89774                     MMA
5          2    89774               Tom Hardy
6          2   106782                   drugs
7          2   106782       Leonardo DiCaprio
8          2   106782         Martin Scorsese
9          7    48516            way too long
10        18      431               Al Pacino
11        18      431                gangster
12        18      431                   mafia
13        18     1221               Al Pacino
14        18     1221                   Mafia
15        18     5995               holocaust
16        18     5995              true story
17        18    44665            twist ending
18        18    52604         Anthony Hopkins
19        18    52604         courtroom drama
20        18    52604            twist ending
21        18    88094                 britpop
22        18    88094      indie record label
23        18    88094                   music
24        18   144210         dumpster diving
25        18   144210          Sustainability
26        21     1569         romantic comedy
27        21     1569                 wedding
28        21   118985                 painter
29        21   119141                  bloody
...      ...      ...                     ...
3653     599     2959              philosophy
3654     599     2959              postmodern
3655     599     2959         powerful ending
3656     599     2959           psychological
3657     599     2959  psychological thriller
3658     599     2959              psychology
3659     599     2959                  quirky
3660     599     2959               satirical
3661     599     2959           schizophrenia
3662     599     2959       social commentary
3663     599     2959      societal criticism
3664     599     2959                stylized
3665     599     2959                 surreal
3666     599     2959               TERRORISM
3667     599     2959       thought-provoking
3668     599     2959                   twist
3669     599     2959            twist ending
3670     599     2959                violence
3671     599     2959                 violent
3672     600      273                  gothic
3673     606     1357                   music
3674     606     1948                 British
3675     606     3578                  Romans
3676     606     5694                    70mm
3677     606     6107            World War II
3678     606     7382               for katie
3679     606     7936                 austere
3680     610     3265                  gun fu
3681     610     3265        heroic bloodshed
3682     610   168248        Heroic Bloodshed

[3683 rows x 3 columns]

In [113]:
df_ratings.drop('timestamp' ,axis=1,inplace=True)

In [114]:
df_ratings

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
5            1       70     3.0
6            1      101     5.0
7            1      110     4.0
8            1      151     5.0
9            1      157     5.0
10           1      163     5.0
11           1      216     5.0
12           1      223     3.0
13           1      231     5.0
14           1      235     4.0
15           1      260     5.0
16           1      296     3.0
17           1      316     3.0
18           1      333     5.0
19           1      349     4.0
20           1      356     4.0
21           1      362     5.0
22           1      367     4.0
23           1      423     3.0
24           1      441     4.0
25           1      457     5.0
26           1      480     4.0
27           1      500     3.0
28           1      527     5.0
29           1      543     4.0
...        ...      ...     ...
100806     610   150401     3.0
100807     610   152077     4.0
100808     610   152081     4.0
100809     610   152372     3.5
100810     610   155064     3.5
100811     610   156371     5.0
100812     610   156726     4.5
100813     610   157296     4.0
100814     610   158238     5.0
100815     610   158721     3.5
100816     610   158872     3.5
100817     610   158956     3.0
100818     610   159093     3.0
100819     610   160080     3.0
100820     610   160341     2.5
100821     610   160527     4.5
100822     610   160571     3.0
100823     610   160836     3.0
100824     610   161582     4.0
100825     610   161634     4.0
100826     610   162350     3.5
100827     610   163937     3.5
100828     610   163981     3.5
100829     610   164179     5.0
100830     610   166528     4.0
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [128]:
df_Merged_tags_ratings= pd.merge(df_ratings,df_tags, on=["movieId","userId"], how ="outer")

In [129]:
df_Merged_tags_ratings

        userId  movieId  rating                     tag
0            1        1     4.0                     NaN
1            1        3     4.0                     NaN
2            1        6     4.0                     NaN
3            1       47     5.0                     NaN
4            1       50     5.0                     NaN
5            1       70     3.0                     NaN
6            1      101     5.0                     NaN
7            1      110     4.0                     NaN
8            1      151     5.0                     NaN
9            1      157     5.0                     NaN
10           1      163     5.0                     NaN
11           1      216     5.0                     NaN
12           1      223     3.0                     NaN
13           1      231     5.0                     NaN
14           1      235     4.0                     NaN
15           1      260     5.0                     NaN
16           1      296     3.0                     NaN
17           1      316     3.0                     NaN
18           1      333     5.0                     NaN
19           1      349     4.0                     NaN
20           1      356     4.0                     NaN
21           1      362     5.0                     NaN
22           1      367     4.0                     NaN
23           1      423     3.0                     NaN
24           1      441     4.0                     NaN
25           1      457     5.0                     NaN
26           1      480     4.0                     NaN
27           1      500     3.0                     NaN
28           1      527     5.0                     NaN
29           1      543     4.0                     NaN
...        ...      ...     ...                     ...
102854     537     3949     NaN              psychology
102855     537    80489     NaN                   crime
102856     537    80489     NaN                     FBI
102857     537    80489     NaN                 romance
102858     537    80489     NaN  too much love interest
102859     537    92259     NaN               emotional
102860     537    92259     NaN               sexuality
102861     537    95441     NaN             crude humor
102862     543    85565     NaN                  Comedy
102863     573      248     NaN                     bad
102864     573      248     NaN                  Sinbad
102865     573      413     NaN                  Comedy
102866     573      540     NaN                     bad
102867     573      707     NaN                     bad
102868     573     1441     NaN                Not Seen
102869     573     1779     NaN                    good
102870     573     2116     NaN                 classic
102871     573     2431     NaN                     bad
102872     573     2662     NaN                 classic
102873     573     2951     NaN                     bad
102874     573     4015     NaN                     bad
102875     573     4343     NaN              really bad
102876     573     4343     NaN     Seann William Scott
102877     573     4446     NaN                  sci-fi
102878     573     4448     NaN                  boring
102879     573     6016     NaN                not seen
102880     573     6157     NaN                     bad
102881     573     6157     NaN             Ben Affleck
102882     600      273     NaN                  gothic
102883     606     7936     NaN                 austere

[102884 rows x 4 columns]

In [130]:
df_Merged_tags_ratings.dropna()

        userId  movieId  rating                     tag
241          2    60756     5.0                   funny
242          2    60756     5.0         Highly quotable
243          2    60756     5.0            will ferrell
252          2    89774     5.0            Boxing story
253          2    89774     5.0                     MMA
254          2    89774     5.0               Tom Hardy
258          2   106782     5.0                   drugs
259          2   106782     5.0       Leonardo DiCaprio
260          2   106782     5.0         Martin Scorsese
1025         7    48516     1.0            way too long
1814        18      431     4.0               Al Pacino
1815        18      431     4.0                gangster
1816        18      431     4.0                   mafia
1874        18     1221     5.0               Al Pacino
1875        18     1221     5.0                   Mafia
2008        18     5995     4.5               holocaust
2009        18     5995     4.5              true story
2087        18    44665     4.5            twist ending
2103        18    52604     4.5         Anthony Hopkins
2104        18    52604     4.5         courtroom drama
2105        18    52604     4.5            twist ending
2191        18    88094     3.0                 britpop
2192        18    88094     3.0      indie record label
2193        18    88094     3.0                   music
2264        18   144210     4.0         dumpster diving
2265        18   144210     4.0          Sustainability
3632        21   119141     0.5                  bloody
7123        49   109487     4.5              black hole
7124        49   109487     4.5                  sci-fi
7125        49   109487     4.5             time-travel
...        ...      ...     ...                     ...
95365      599     2959     5.0               Palahnuik
95366      599     2959     5.0           philosophical
95367      599     2959     5.0              philosophy
95368      599     2959     5.0              postmodern
95369      599     2959     5.0         powerful ending
95370      599     2959     5.0           psychological
95371      599     2959     5.0  psychological thriller
95372      599     2959     5.0              psychology
95373      599     2959     5.0                  quirky
95374      599     2959     5.0               satirical
95375      599     2959     5.0           schizophrenia
95376      599     2959     5.0       social commentary
95377      599     2959     5.0      societal criticism
95378      599     2959     5.0                stylized
95379      599     2959     5.0                 surreal
95380      599     2959     5.0               TERRORISM
95381      599     2959     5.0       thought-provoking
95382      599     2959     5.0                   twist
95383      599     2959     5.0            twist ending
95384      599     2959     5.0                violence
95385      599     2959     5.0                 violent
99456      606     1357     4.0                   music
99522      606     1948     3.5                 British
99749      606     3578     3.5                  Romans
99934      606     5694     3.0                    70mm
99967      606     6107     4.0            World War II
100087     606     7382     4.5               for katie
101553     610     3265     5.0                  gun fu
101554     610     3265     5.0        heroic bloodshed
102673     610   168248     5.0        Heroic Bloodshed

[3476 rows x 4 columns]